In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
import pandas as pd
data = pd.read_csv("Apartments Dataset  - Apartments Dataset .csv")

In [3]:
data['elevator(y/n)'] = data['elevator(y/n)'].map({'y': 1, 'n': 0})
data['makolet on your street?(y/n)'] = data['makolet on your street?(y/n)'].map({'y': 1, 'n': 0})
data['Yerushalyim? (y/n)'] = data['Yerushalyim? (y/n)'].map({'y': 1, 'n': 0})

In [4]:
data['Yerushalyim? (y/n)'].value_counts()

1.0    40
0.0     8
Name: Yerushalyim? (y/n), dtype: int64

In [5]:
data.describe()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
count,51.000000,51.000000,51.000000,50.000000,48.000000
mean,4.813725,0.313725,16.215686,0.620000,0.833333
std,1.603000,0.468623,9.398540,0.490314,0.376622
min,2.000000,0.000000,3.000000,0.000000,0.000000
25%,3.750000,0.000000,8.500000,0.000000,1.000000
50%,5.000000,0.000000,15.000000,1.000000,1.000000
75%,6.000000,1.000000,24.500000,1.000000,1.000000
max,8.000000,1.000000,35.000000,1.000000,1.000000

We could see that the target isn't balanced, around 80% of them are in Yerushalayim. The test is on very small data therefore you can't really predict much.

In [6]:
for x in data.columns:
    print(x, data[x].isnull().sum())

name 0
number of floors in your building 2
elevator(y/n) 2
number of  apartments in your building 2
makolet on your street?(y/n) 3
Yerushalyim? (y/n) 5

In [7]:
data=data.dropna(axis=0)

In [8]:
data.head()

,name,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,Aidel Matskin,2.0,0.0,4.0,1.0,0.0
2,Aviva Winsbacher,4.0,0.0,8.0,0.0,0.0
3,Bassie Schoonmaker,6.0,0.0,12.0,1.0,0.0
4,Brina Rochel Kaplan,6.0,0.0,28.0,1.0,1.0
5,Bruchy Schweitzer,4.0,0.0,7.0,0.0,1.0

In [9]:
X= data.drop(['Yerushalyim? (y/n)','name'], axis=1)
y=data['Yerushalyim? (y/n)']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15)

In [11]:
model = LogisticRegression(max_iter= 500, penalty='l2',C=.5)
model.fit(X_train, y_train)
pred= model.predict(X_test)
accuracy = accuracy_score(y_test, pred)
print(accuracy)

1.0

In [12]:
print(pred)

[1. 1. 1. 1. 1. 1. 1.]

In [13]:
pred_df = pd.DataFrame(columns=['actual', 'predicted'])
pred_df['actual']=y_test
pred_df['predicted']=pred
print(pred_df)

    actual  predicted
39     1.0        1.0
31     1.0        1.0
32     1.0        1.0
6      1.0        1.0
25     1.0        1.0
13     1.0        1.0
20     1.0        1.0

In order to improve the model we would neet to get more data , and to get more features that would help us predict the target.