## Worlds Best Employers

### leah itzinger
1/18/2023

In [17]:
# Reading in the csv as a list of lists
import csv
with open ("Worlds Best Employers.csv", encoding = 'UTF-8') as f:
    reader = csv.reader(f)
    rows = list(reader)
header = rows[0]
rows = rows[1:]

In [18]:
print (header)

['RANK', 'NAME', 'INDUSTRIES', 'COUNTRY/TERRITORY', 'EMPLOYEES']

In [19]:
print (rows[:3])

[['1.', 'Samsung Electronics', 'Semiconductors, Electronics, Electrical Engineering, Technology Hardware & Equipment', 'South Kore', '266,673'], ['2.', 'Microsoft', 'IT, Internet, Software & Services', 'United States', '221,000'], ['3.', 'IBM', 'Semiconductors, Electronics, Electrical Engineering, Technology Hardware & Equipment', 'United States', '250,000']]

In [20]:
# Creating a dictionary with the country as a key and the rest of the information as values
eployees_by_country = {}
for row in rows:
    if row[3] in eployees_by_country:
        eployees_by_country[row[3]] += [row[:3] + row[4:]]
    else:
        eployees_by_country[row[3]] = [row[:3] + row[4:]]

We used a for loop in order to create a dictionary with the countries as keys, the values are lists of all the information of the companies in that country. This for loop saves time for all lookups from now on. Now we can find all the information by country just with calling the key.

In [22]:
# Creating a set of all industries
industries = set()
for row in rows:
    industries.add(row[2])

In [23]:
industries

{'Aerospace & Defense',
 'Automotive (Automotive and Suppliers)',
 'Banking and Financial Services',
 'Clothing, Shoes, Sports Equipment',
 'Conglomerate',
 'Construction, Oil & Gas Operations, Mining and Chemicals',
 'Drugs & Biotechnology',
 'Engineering, Manufacturing',
 'Food, Soft Beverages, Alcohol & Tobacco',
 'Health Care Equipment & Services',
 'Healthcare & Social',
 'IT, Internet, Software & Services',
 'Media & Advertising',
 'Packaged Goods',
 'Retail and Wholesale',
 'Semiconductors, Electronics, Electrical Engineering, Technology Hardware & Equipment',
 'Telecommunications Services, Cable Supplier',
 'Transportation and Logistics',
 'Travel & Leisure      ',
 'Utilities'}

We created a set of all industries to make it easier to check up all the different types and that way save time and space.

In [24]:
sorted_company_names = []
for row in rows:
    sorted_company_names.append(row[1])
sorted_company_names = sorted(sorted_company_names)

In [25]:
# Binary search on the rank with a list of lists
def list_lookup(sorted_names, target_name):
    range_start = 0
    range_end = len(sorted_names) - 1
    while range_start < range_end:
        range_middle = (range_end + range_start) // 2
        name = sorted_names[range_middle]
        if name == target_name:
            for row in rows:
                if row[1] == name:
                    return row[0]
        elif name < target_name:
            range_start = range_middle + 1
        else:
            range_end = range_middle - 1
    if sorted_names[range_start] != target_name:
        return False
    else:
        for row in rows:
            if row[1] == target_name:
                return row[0]

In [26]:
list_lookup(sorted_company_names, 'Apple')

'5.'

In [27]:
print (rows[4])

['5.', 'Apple', 'Semiconductors, Electronics, Electrical Engineering, Technology Hardware & Equipment', 'United States', '154,000']

In [28]:
#reading in the file as df
import pandas as pd
employees_df = pd.DataFrame(rows, columns = header)

In [29]:
employees_df.head()

,RANK,NAME,INDUSTRIES,COUNTRY/TERRITORY,EMPLOYEES
0,1.,Samsung Electronics,"Semiconductors, Electronics, Electrical Engine...",South Kore,"266,673"
1,2.,Microsoft,"IT, Internet, Software & Services",United States,"221,000"
2,3.,IBM,"Semiconductors, Electronics, Electrical Engine...",United States,"250,000"
3,4.,Alphabet,"IT, Internet, Software & Services",United States,"156,500"
4,5.,Apple,"Semiconductors, Electronics, Electrical Engine...",United States,"154,000"

In [30]:
# Binary search on the rank with a pandas dataframe
def df_lookup(df, sorted_names, target_name):
    range_start = 0
    range_end = len(sorted_names) - 1
    while range_start < range_end:
        range_middle = (range_end + range_start) // 2
        name = sorted_names[range_middle]
        if name == target_name:
            return df['RANK'][df['NAME'] == target_name]
        elif name < target_name:
            range_start = range_middle + 1
        else:
            range_end = range_middle - 1
    if sorted_names[range_start] != target_name:
        return False
    else:
        return df['RANK'][df['NAME'] == target_name]

In [31]:
df_lookup(employees_df, sorted_company_names, 'IBM')

2    3.
Name: RANK, dtype: object

In [32]:
#checking whats faster binary search with list or with df
import time
start=time.time()
list_lookup(sorted_company_names, 'IBM')
end=time.time()
list_time=end-start


start=time.time()
df_lookup(employees_df, sorted_company_names, 'IBM')
end=time.time()
df_time=end-start
print(df_time,list_time)

0.0009980201721191406 0.0

We see that list search is much faster than df search