##  Lambdas with Higher Order Functions (filter(), map(), apply())

Instructions: Work through the following questions. You can use the slides and deepnote examples as a guide. 
Hatzlacha! When you are finished, please push your work to git and add ruchifeldman and estherdonnenbaum as a  collaborator.

In [103]:
#1 Write code to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
even_nums = list(filter(lambda x: x%2==0, my_list))
even_nums

[4, 6, 8, 12]

In [92]:
#2 write code to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
my_list = list(map(lambda x: x*2, my_list))
my_list

[2, 10, 8, 12, 16, 22, 6, 24]

In [93]:
#3 write code to select numbers that are divisible by 3 from the list

my_list = [3, 42, 18, 26, 11,27, 14, 5,36]
my_list = list(filter(lambda x: x%3==0, my_list))
my_list

[3, 42, 18, 27, 36]

In [94]:
#4 write code to count the length of the numbers in a list. Return a list of the lengths.

my_list = [123, 56, 2, 8695, 26]
len_num= list(map(lambda x: len(str(x)), my_list))
len_num

[3, 2, 1, 4, 2]

In [95]:
#5 write code to convert all words in the list to upper case

my_list = ['apple', 'orange', 'banana', 'pear', 'mango', 'kiwi']
my_list=list(map(lambda x: x.upper(), my_list))
my_list

['APPLE', 'ORANGE', 'BANANA', 'PEAR', 'MANGO', 'KIWI']

In [96]:
#6 Write code to filter words that contain the letter 'r' from the list, any case
import re
my_list = ['pear', 'Ruchi', 'belt', 'chair', 'notes', 'date']
my_list=list(filter(lambda x: re.search('[rR]',x)  , my_list))
my_list

['pear', 'Ruchi', 'chair']

In [97]:
#run this cell and use this df to answer the following questions
import pandas as pd

df = pd.DataFrame(
    {"title": ["Nor The Moon", "Why it Didn't Happen", "Expelled", "Not As It Seemed", "Random DIY Crafts", "Senora"],
     "Author": ['C. Green', 'Simon James', 'W. Wright', 'Hellen Kay', 'R. Farno', 'Jacob Blau'],
     "Pages": [450, 120, 682, 210, 75, 302],
     "Publisher": ['PG', 'Feldheim', 'Menucha', 'Ladybird', 'DSB', 'PG']

    }
)

In [98]:
#7 Write code to multiply the number of pages by two

df['Pages_multiplied']= df['Pages'].apply(lambda x: x*2)
df['Pages_multiplied']

0     900
1     240
2    1364
3     420
4     150
5     604
Name: Pages_multiplied, dtype: int64

In [99]:
#8 Write code change authors names to lowercase
df['Author']= df['Author'].apply(lambda x: x.lower())
df['Author']

0       c. green
1    simon james
2      w. wright
3     hellen kay
4       r. farno
5     jacob blau
Name: Author, dtype: object

In [102]:
# CHALLENGE
#Write code to select only the rows where the 'title' is more that four words. Assign those rows to a new dataframe
# df1= pd.DataFrame()
df1=df[df['title'].apply(lambda x: len(x.split(' '))==4)]
df1

                  title       Author  Pages Publisher  Pages_multiplied
1  Why it Didn't Happen  simon james    120  Feldheim               240
3      Not As It Seemed   hellen kay    210  Ladybird               420

In [133]:

b

['l 0', 'e 0', 'a 0', 'h 0', 's 1', 'a 1', 'r 1', 'a 1']