In [ ]:
#pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org pymysql

In [ ]:
import pymysql

In [ ]:
conn=pymysql.connect(host='localhost',port=3306,user='root',password='Qwerty613!',db='sys')

In [ ]:
cursor=conn.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS school;")

In [ ]:
cursor.execute('USE school')

In [ ]:
person_table='''CREATE TABLE IF NOT EXISTS student
(student_id SMALLINT UNSIGNED, 
first_name VARCHAR(20), 
last_name VARCHAR(20),
address VARCHAR(100),
state CHAR(2), dob DATE, phone_number  VARCHAR(15), gender ENUM('male', 'female'), PRIMARY KEY (student_id));'''

In [ ]:
cursor.execute(person_table)

In [ ]:
cursor.execute('DESC student;')
cursor.fetchall()

In [ ]:
one_row='''INSERT INTO student (student_id , first_name ,last_name, address, state, dob, phone_number,gender) 
VALUES (1, 'leah','itzinger', '17 homestade lane', 'ny' ,'2001-04-05', '3456789789','female'),
(2, 'chani','Choen', '2 homestade lane', 'ny' ,'1996-02-05', '159635745','female'),
(3, 'sara','hess', '16 homestade lane', 'ny' ,'1985-01-06', '7896542','female'),
(4, 'chaim','pines', '12 homestade lane', 'ny' ,'2000-08-05', '15935786','male')'''

In [ ]:
# cursor.execute(one_row)

In [ ]:
address='''update student SET address= '467 oak blvd', state='oh' WHERE student_id=3'''
cursor.execute(address)

In [ ]:
cursor.execute("DELETE FROM student WHERE gender='male'")

In [ ]:
cursor.execute("ALTER TABLE student ADD email_address CHAR(50)")

In [ ]:
cursor.execute("ALTER TABLE student MODIFY COLUMN email_address VARCHAR(50)")

In [ ]:
cursor.execute('''INSERT INTO student VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s);''',(6,'devorah','port','sdfgt yju 54','ny','2001-05-06','52632548962','female','koiuh@gmail.com') )

In [ ]:
# cursor.execute('''INSERT INTO student VALUES (%(person_id)s, %(first_name)s, %(last_name)s, %(address)s,
# %(state)s, %(dob)s);''', {'person_id': 1, 'first_name': 'John', 'last_name': 'Smith', 'address': 'jhkl ikju 56',
# 'state': 'ny'','dob': "1985-02-01"})

In [ ]:
cursor.execute('''SELECT * FROM student''')
cursor.fetchall()

In [ ]:
#conn.close()

In [ ]:
cursor.execute('DESC student;')
cursor.fetchall()

In [ ]:
cursor.execute('''alter table student drop column email_address''')

In [ ]:

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Qwerty613!",
                               db='testdb'))

In [ ]:
cursor.execute("ALTER TABLE student MODIFY COLUMN gender='M' WHERE gender='male")

In [ ]:
import pandas as pd
student_df=pd.read_csv('student_data.csv')

In [ ]:
student_df.to_sql('student',con=engine,if_exists='replace',chunksize=1000,index=False)

In [ ]:
conn.commit()

In [ ]:
cursor.execute('''SELECT * FROM student''')
cursor.fetchall()

In [ ]:
#10
create_table='''CREATE TABLE IF NOT EXISTS grades
(grade_id INT UNSIGNED AUTO_INCREMENT, 
student_id MEDIUMINT UNSIGNED, 
course_id TINYINT UNSIGNED,
grade TINYINT UNSIGNED,
PRIMARY KEY (grade_id))'''

In [ ]:
cursor.execute("ALTER TABLE grades MODIFY COLUMN student_id SMALLINT UNSIGNED")

In [ ]:
cursor.execute(create_table)

In [ ]:
course_table='''CREATE TABLE IF NOT EXISTS course
(course_id TINYINT UNSIGNED AUTO_INCREMENT, 
course_name VARCHAR(50),
instructor VARCHAR(50),
PRIMARY KEY (course_id))'''

In [ ]:
cursor.execute(course_table)

In [ ]:
cursor.execute('''ALTER TABLE grades
ADD CONSTRAINT fk_grades_student FOREIGN KEY(student_id) REFERENCES student(student_id),
ADD CONSTRAINT fk_grades_course FOREIGN KEY (course_id) REFERENCES course (course_id)''')

In [ ]:
cursor.execute('DESC student;')
cursor.fetchall()

In [ ]:
cursor.execute('''ALTER TABLE student MODIFY last_name VARCHAR(30) NOT NULL''')

In [ ]:
cursor.execute("ALTER TABLE student ADD CONSTRAINT UN_student UNIQUE (Student_id);")

In [ ]:
cursor.execute("ALTER TABLE student ADD CONSTRAINT CHK_student_age CHECK (dob <='2017-01-01');")

In [ ]:
cursor.execute("ALTER TABLE grades ALTER grade SET DEFAULT 100;")

In [ ]:
cursor.execute('''CREATE ROLE school_update;''')

In [116]:
cursor.execute('''GRANt SELECT, INSERT ,UPDATE ON school.* TO school_update;''')

0

In [117]:
cursor.execute("CREATE USER school_siu@localhost IDENTIFIED BY 'pass123'")

0

In [118]:
cursor.execute('''GRANt school_update TO school_siu@localhost;''')

0