In [2]:
import pymysql
conn=pymysql.connect(host='localhost',port=3306,user='root',password='Qwerty613!',db='sys')
cursor=conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS clothing_store;")
cursor.execute('USE clothing_store;')

0

In [ ]:
products_table='''CREATE TABLE IF NOT EXISTS products
(product_id MEDIUMINT UNSIGNED NOT NULL, 
product_name VARCHAR(50) NOT NULL, 
product_description VARCHAR(400),
product_price DECIMAL(5,2) NOT NULL,
category_name VARCHAR(50) NOT NULL,
product_size TINYINT NOT NULL,
PRIMARY KEY (product_id)
);'''
cursor.execute(products_table)

In [ ]:
customers_table='''CREATE TABLE IF NOT EXISTS customers
(customer_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT, 
customer_name VARCHAR(75) NOT NULL, 
customer_address VARCHAR(100),
customer_city VARCHAR(50),
customer_country VARCHAR(50),
customer_phone VARCHAR(20),
customer_email VARCHAR(50) NOT NULL,
PRIMARY KEY (customer_id)
);'''
cursor.execute(customers_table)

In [ ]:
orders_table='''CREATE TABLE IF NOT EXISTS orders
(order_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT, 
customer_id MEDIUMINT UNSIGNED NOT NULL, 
total_price DECIMAL(7,2) NOT NULL, 
order_date DATE NOT NULL,
payment_method ENUM('credit card' , 'paypal' , 'debit card') NOT NULL, 
shipping_date DATE NOT NULL,
PRIMARY KEY (order_id)
);'''
cursor.execute(orders_table)

In [ ]:
prudoct_ordered_table='''CREATE TABLE IF NOT EXISTS prudoct_ordered
(prudoct_order_id MEDIUMINT UNSIGNED NOT NULL, 
order_id MEDIUMINT UNSIGNED NOT NULL, 
product_id MEDIUMINT UNSIGNED NOT NULL, 
quantity TINYINT UNSIGNED NOT NULL,
size TINYINT UNSIGNED NOT NULL, 
PRIMARY KEY (prudoct_order_id)
);'''
cursor.execute(prudoct_ordered_table)

In [ ]:
billing_table='''CREATE TABLE IF NOT EXISTS billing
(billing_id MEDIUMINT UNSIGNED NOT NULL, 
order_id MEDIUMINT UNSIGNED NOT NULL, 
billing_name VARCHAR(75) NOT NULL, 
billing_email VARCHAR(50) NOT NULL,
billing_address VARCHAR(100) NOT NULL,
cc_number VARCHAR(16) NOT NULL,
cvv_number VARCHAR(4) NOT NULL,
expiration_date VARCHAR(5) NOT NULL,
PRIMARY KEY (billing_id)
);'''
cursor.execute(billing_table)

In [ ]:
shipping_table='''CREATE TABLE IF NOT EXISTS shipping
(shipping_id MEDIUMINT UNSIGNED NOT NULL, 
order_id MEDIUMINT UNSIGNED NOT NULL, 
shipping_name VARCHAR(75) NOT NULL, 
shipping_address VARCHAR(100) NOT NULL, 
shipping_city VARCHAR(50) NOT NULL,
shipping_country TINYINT UNSIGNED NOT NULL,
shipping_phone VARCHAR(20) NOT NULL,
PRIMARY KEY (shipping_id)
);'''
cursor.execute(shipping_table)

In [ ]:
country_table='''CREATE TABLE IF NOT EXISTS country
(country_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT, 
country_name VARCHAR(50) NOT NULL, 
shipping_cost DECIMAL(4,2) NOT NULL,  
PRIMARY KEY (country_id)
);'''
cursor.execute(country_table)

In [ ]:
cursor.execute('''ALTER TABLE orders
ADD CONSTRAINT fk_customer FOREIGN KEY(customer_id) REFERENCES customers(customer_id);
''')

In [ ]:
cursor.execute('''ALTER TABLE prudoct_ordered 
ADD CONSTRAINT fk_order FOREIGN KEY(order_id) REFERENCES orders(order_id),
ADD CONSTRAINT fk_product FOREIGN KEY(product_id) REFERENCES products(product_id);
''')

In [ ]:
cursor.execute('''ALTER TABLE billing
ADD CONSTRAINT fk_order_billing FOREIGN KEY(order_id) REFERENCES orders(order_id);
''')

In [ ]:
cursor.execute('''ALTER TABLE shipping
ADD CONSTRAINT fk_order_shipping FOREIGN KEY(order_id) REFERENCES orders(order_id);
''')

In [ ]:
cursor.execute('''ALTER TABLE shipping
ADD CONSTRAINT fk_country_shipping FOREIGN KEY(shipping_country) REFERENCES country(country_id);
''')

In [3]:
cursor.execute("ALTER TABLE orders MODIFY COLUMN order_date DATE DEFAULT(CURRENT_DATE)")

0

In [6]:
cursor.execute('''ALTER TABLE customers AUTO_INCREMENT=1000''')

0

In [7]:
cursor.execute('''ALTER TABLE orders AUTO_INCREMENT=1000''')

0

In [8]:
cursor.execute('''CREATE ROLE store_read, store_read_write;''')
cursor.execute('''GRANT SELECT ON clothing_store.* TO store_read;''')
cursor.execute('''GRANT SELECT,INSERT ON clothing_store.* TO store_read_write;''')

0

In [9]:
cursor.execute("CREATE USER reading@localhost IDENTIFIED BY 'pass123'")
cursor.execute("CREATE USER write_read@localhost IDENTIFIED BY 'pass456'")
cursor.execute('''GRANT store_read TO reading@localhost;''')
cursor.execute('''GRANT store_read_write TO write_read@localhost;''')

0

In [52]:
import pandas as pd
product_df=pd.read_csv('store_data.csv',skiprows=1)

In [53]:
for index, row in product_df.iterrows():
    cursor.execute('''INSERT INTO products VALUES(%s,%s,%s,%s,%s,%s);''',(row[0],row[1],row[2],row[3],row[4],row[5]) )

In [56]:
conn.commit()

In [62]:
cursor.execute('''SELECT * FROM products''')
cursor.fetchall()

((3344,
  'Black Leggings',
  'Made from a soft and breathable cotton',
  Decimal('15.50'),
  'Leggings',
  3),
 (3345,
  'Black Leggings',
  'Made from a soft and breathable cotton',
  Decimal('15.50'),
  'Leggings',
  4),
 (3346,
  'Black Leggings',
  'Made from a soft and breathable cotton',
  Decimal('15.50'),
  'Leggings',
  5),
 (3347,
  'Black Leggings',
  'Made from a soft and breathable cotton',
  Decimal('15.50'),
  'Leggings',
  6),
 (7666,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  4),
 (7667,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  5),
 (7668,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  6),
 (7669,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  7),
 (7670,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  8),
 (7671,
  'Short sleeved Jersey Dress',
  'Machine washable, 100% cotton',
  Decimal('19.99'),
  'Dress',
  9))

In [60]:
billing_charges = "INSERT INTO country (country_name, shipping_cost) VALUES (%s, %s)"
val = [
  ('USA', 5.90),
  ('UK', 9.90),
  ('ISRAEL', 15.90)
]
cursor.executemany(billing_charges, val)

3

In [61]:
conn.commit()

In [ ]:
#  cursor.execute("DROP DATABASE clothing_store")